body{
    background-color: #99D1FF;
}

.jumbotron{
    color: white;
    background-color: #337AB7; /* same color as btn-primary */
    margin-top: 5%;
    text-align: center;
    vertical-align: middle;
}

.jumbotron h1{
    font-size: 500%;
}

.main-container{
    background-color: white;
    min-height: 50%;
}

.container-fluid{
    background-color: #337AB7; /* same color as btn-primary */
}

.container-fluid a{
    color: white !important;
}

.login{
    text-align: center;
    margin: auto;
}

.login input{
    text-align: center;
    margin :auto;
    width: 300px;
}